.portfolio {
  padding: 0 3rem 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  font-family: "Alumni Sans Inline One", cursive;
}
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 3.5rem;
}
.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 3.5rem;
}
.portfolio .swiper {
  overflow: visible !important;
}
.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}
.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

@media screen and (max-width: 480px) {
  .portfolio {
    justify-content: start;
    align-items: start;
    height: 100%;
  }
  .portfolio span:nth-of-type(1),
  .portfolio span:nth-of-type(2) {
    font-size: 2rem;
  }
  .portfolio-slider .swiper-slide {
    width: 100% !important;
  }
  .portfolio img {
    width: 100%;
    height: 100%;
    height: 25rem !important;
    object-fit: cover;
  }
}
