.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 4rem;
  font-family: "Rubik Puddles", cursive;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 4rem;
  font-family: "Rubik Puddles", cursive;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 20px;
  font-family: "Grenze Gotisch", cursive;
  color: var(--gray);
  margin-top: 10px;
}
.i-button {
  width: max-content;
}
.i-icons {
  margin-top: 3rem;
  display: flex;
}
.i-icons > a {
  color: var(--orange);
  font-size: 2rem;
}
.i-icons > a > svg {
  transition: all 0.4s ease-in-out;
  margin-right: 1rem;
}
.i-icons > a > svg:hover {
  transform: scale(0.7);
  opacity: 0.7;
}
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
  z-index: 1;
}
.i-right > :nth-child(2) {
  top: -4.6rem;
  left: -3rem;
  transform: scale(0.67);
  z-index: 0;
}
.i-right > :nth-child(3) {
  transform: scale(1.4);
  right: 8%;
  bottom: 0;
}
.i-right > .i-d {
  width: 15rem;
  top: 5%;
  left: 30%;
  position: relative;
}
.i-right > .i-d > .i-t {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 1.2rem;
  color: black;
}
.i-right > span {
  position: absolute;
  top: 20.5%;
  left: 40%;
  display: block;
  font-family: "Grenze Gotisch", cursive;
  font-size: 16px;
}
.i-right .i-floating {
  top: -6%;
  left: -5%;
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(72px);
  z-index: -9;
  top: -18%;
  left: 56%;
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
    gap: 7rem;
    height: 64rem;
    margin-bottom: 2rem;
  }
  .i-name {
    text-align: center;
  }
  .i-name > :nth-child(3) {
    text-align: left;
  }
  .i-right {
    transform: scale(0.8);
    /* left: -3rem; */
  }
  .i-right > img {
  }
  .i-right .i-d {
    display: flex;
    top: -60%;
    left: -10%;
  }
  .i-right > :nth-child(1),
  .i-right > :nth-child(2) {
    display: none;
  }
  .i-right .blur {
    display: none;
  }
  .floating-div:nth-of-type(1) {
    /* display: none; */
    top: -7rem !important;
  }
}
