.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: -0.5rem -3.5rem; */
  position: relative;
  margin-top: -10rem;
}
.footer img {
  height: 10rem;
  width: 100%;
  object-fit: contain;
}
.f-content {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  width: 100%;
  /* margin-top: 4rem; */
  gap: 4rem;
  color: var(--orange);
}
.f-icons {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}
.f-icons a {
  color: var(--orange);
  transition: all 0.4s ease-in-out;
}
.f-icons a:hover {
  opacity: 0.7;
}
.footer p {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}

@media screen and (max-width: 480px) {
  .f-content {
    transform: scale(0.5);
  }
}
