.t-wrapper {
  padding: 0 3rem 0 3rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.t-heading {
  align-self: start;
}
.t-heading > * {
  font-size: 3.5rem;
}
.t-heading span:nth-of-type(2),
.t-heading span:nth-of-type(3) {
  color: var(--orange);
}
.t-blur1 {
  left: 38rem;
  top: 16rem;
}
.t-blur2 {
  top: 9rem;
  left: 0;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  width: 30rem;
  height: max-content;
  font-family: "Grenze Gotisch", cursive;
  font-size: 17px;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--blueCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  margin-bottom: 2rem;
}
.testimonial > img {
  margin-bottom: 1rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 100%;
}
.testimonial > span {
  color: var(--gray);
}
/* slider */
.t-wrapper .swiper {
  width: 100%;
  height: 70%;
}

.t-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .t-wrapper .swiper-pagination-bullet-active {
  outline: 2px solid var(--orange);
  background: transparent;
} */

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;
  border: var(--orange) solid 1px;
  background: transparent;
  width: 1rem;
  height: 1rem;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background: var(--orange);
}

@media screen and (max-width: 480px) {
  .t-wrapper {
    padding: 0;
    margin-top: 0;
    align-items: left;
    /* height: max-content; */
    max-height: 100%;
  }
  .testimonial {
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .testimonial > img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  .t-heading > * {
    font-size: 2rem;
    width: 100%;
    margin: 0;
  }
  .swiper-pagination > .swiper-pagination-bullet {
    margin-top: 4rem !important;
    background: red;
  }
}
