@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bevan&family=Bungee+Inline&family=Grenze+Gotisch:wght@300;500&family=Kelly+Slab&family=Rakkas&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Rubik+Puddles&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Alumni Sans Inline One", cursive;
  font-size: 20px;
  overflow-x: hidden;
}

/* font-family: 'Alumni Sans Inline One', cursive;
font-family: 'Bevan', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Grenze Gotisch', cursive;
font-family: 'Kelly Slab', cursive;
font-family: 'Rakkas', cursive;
font-family: 'Rubik Microbe', cursive;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Rubik Puddles', cursive; */
